:root{
  --principal: rgba(87,41,126,1);
  --principal2: rgba(253,29,29,1);
  --principal3:rgba(252,176,69,1);
  --secundarioOscuro: rgb(233, 187, 2);
  --blanco: #FFFFFF;
  --negro: #000000;

  --fuentePrincipal: 'Staatliches', cursive;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after{
  box-sizing: inherit;
}


/*Globales*/
body{
  background: rgb(87,41,126);
  background: linear-gradient(90deg, rgba(87,41,126,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
}

.contenedor{
  background-color: var(--blanco);
  border-radius: 2rem;
  padding: 1rem;
  margin: 4.5rem auto;
  width: 96%;
  height:58rem;
  text-align: center;
  font-family: var(--fuentePrincipal);
}
.contenedor h1{
  font-size: 4.5rem;
}
.contenedor h3{
  font-size: 2rem;
  padding-top: 5rem;
  margin-bottom: 7rem;
}
.botones-anios{
  display: flex;
  gap: 4rem;
  justify-content: center;
  border-radius: 4rem;
  margin-top: 6rem;
}
.uno,
.dos,
.tres{
  background-color: var(--principal3);/*tener que cambiar el color de los botones, este es un color de prueba*/
  font-family: var(--fuentePrincipal);
  border-radius: 1.5rem;
  padding: 1rem 3rem;
  border: none;
}

h4{
  font-size: 1.2rem;
}

h5{
  font-size: 3rem;
}

@media (min-width: 768px) {
  .contenedor{
    margin: 10rem auto;
    width: 70%;
  }
}
