:root{
  --principal: rgba(87,41,126,1);
  --principal2: rgba(253,29,29,1);
  --principal3:rgba(252,176,69,1);
  --botonprincipal: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%); ;
  --bodyprincipal: linear-gradient(90deg, rgba(87,41,126,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
  --bodyprimero:linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  --bodysegundo:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  --bodytercero:linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  --secundarioOscuro: rgb(233, 187, 2);
  --blanco: #FFFFFF;
  --negro: #000000;

  --fuentePrincipal: 'Lato', sans-serif;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after{
  box-sizing: inherit;
}


/*Globales*/
body{
  background: rgb(87,41,126);
  background: var(--bodyprincipal);
  font-family: var(--fuentePrincipal);
}

h1{
  font-weight: bold;
  margin-bottom: 4rem !important;
  margin-top: 4rem !important;
}

h4{
  font-size: 1.2rem;
}

h5{
  font-size: 1rem;
}

/* Contenedor */
.contenedor{
  background-color: var(--blanco);
  border-radius: 2rem;
  padding: 1rem;
  margin: 4.5rem auto;
  width: 96%;
  height:58rem;
  text-align: center;
  font-family: var(--fuentePrincipal);
}

@media (min-width: 768px) {
  .contenedor{
    margin: 10rem auto;
    width: 70%;
  }
}

/* Pagina Principal */
.contenedor__titulo{
  font-size: 4.5rem;
}
.contenedor__elegir{
  font-size: 2rem;
  padding-top: 5rem;
  margin-bottom: 7rem;
}
.botones-anios{
  display: flex;
  gap: 4rem;
  justify-content: space-evenly;
  border-radius: 4rem;
  margin-top: 6rem;
}
.boton__anio--select{
  background: var(--botonprincipal); 
  /*tener que cambiar el color de los botones, este es un color de prueba*/
  font-family: var(--fuentePrincipal);
  font-size: 2rem;
  border-radius: 1.5rem;
  padding: 1.5rem 5rem;
  border: none;
}
.boton__anio--select:hover{
  color: var(--blanco);
  background: linear-gradient(90deg, rgb(255, 19, 19) 0%, rgb(252, 166, 46) 100%); 
  cursor: pointer;
}

h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 4rem;  
  color: var(--negro);
}
.question{
  font-size: 3rem;
  margin-bottom: 3rem;
}
.answers {
  margin-bottom: 3rem;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 3rem;
  font-size: 2rem;
}
button{
  font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	background: var(--bodyprimero);
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	margin-bottom: 20px;
  margin-right: 2rem;
  justify-content: center;
  z-index: 10;
}
button:hover{
  cursor: pointer;
}

.slide{
  position: absolute;
  left: 0px;
  top: -39px;
  width: 100%;
  height: 34rem;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin: 4rem 0 11rem 0;
}

#results{
  font-size: 2rem;
}
